VERTEX_AI_ENDPOINT=https://us-central1-aiplatform.googleapis.com/v1/projects/PROJECT_ID/locations/REGION/endpoints/ENDPOINT_ID:predict
VERTEX_AI_PROJECT=your_project_id
VERTEX_AI_LOCATION=us-central1
VERTEX_AI_ENDPOINT_ID=your_endpoint_id
BQ_DATASET=logistics_ai
BQ_TABLE=shipments
